.modal-content {
  width: 1200px !important;
  height: 760px;
  left: 50%;
  transform: translateX(-50%);
}

.file-rmv {
  cursor: pointer;
  &:hover {
    color: crimson;
  }
}

.modal-mutate {
  width: 400px !important;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
}
